@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Embrace Space</h3>

<p>Embrace Space is a former slogan of Lockheed Martin. This slogan as well as the goals and accomplishments of 
   Space X are the inspiration for this application. Being able to build, and link Space Ships to 
   their launch sites is only the beginning of my personal programming aspirations. This is the first
   step. The next step is the ability to program the software that moves and monitors Space Ships and Space Stations.
</p>
