@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Embrace Space</h1>
    <p class="lead">Build SpaceShips, SpaceStations and the LaunchSites they deploy from.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>SpaceShips</h2>
        <p>
            Create, Edit, get Details on or Remove a Space Ship.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Build", "Create", "SpaceShip")</a></p>
    </div>
    <div class="col-md-4">
        <h2>SpaceStations</h2>
        <p>Create, Edit, get Details on or Remove a Space Station.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Build", "Create", "SpaceStation")</a></p>
    </div>
    <div class="col-md-4">
        <h2>LaunchSites</h2>
        <p>Create, Edit, get Details on or Remove a Launch Site.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Build", "Create", "LaunchSite")</a></p>
    </div>
</div>